@using RummiSolve
<div class="player-container">
    <div class="header">
        <h2>@Player.Name</h2>
        <span
            class="tile-count @(Player.Played ? "played" : "not-played")">@CurrentPlayerRack.Tiles.Count</span>
    </div>
    <SetComponent Set="CurrentPlayerRack" ShowHint="ShowHint" HighlightTiles="Player.TilesToPlay"/>
</div>

@code {
    [Parameter] public required Player Player { get; set; }
    [Parameter] public bool ShowHint { get; set; }
    [Parameter] public required Set CurrentPlayerRack { get; set; }
}

<style>
    .player-container {
        background: linear-gradient(to right, #fff7e6, #fffde6);
        padding: 20px;
        border-radius: 10px;
        margin-bottom: 20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
    }

    .header h2 {
        font-size: 1.5em;
        color: #333;
        margin: 0;
    }

    .header .tile-count {
        font-size: 1.2em;
        color: #292929;
        background-color: #f8f8f8;
        padding: 5px 10px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .tile-count {
        font-size: 1.2em;
        padding: 5px 10px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .tile-count.played {
        background-color: #f8f8f8; /* Plan actuel */
        color: #292929;
    }

    .tile-count.not-played {
        background-color: rgba(255, 19, 248, 0.58);
        color: #000000;
    }
</style>