@using RummiSolve
<div class="tile @(Tile.IsJoker ? "joker" : "") @(Tile.IsNew ? "new-tile" : "")">
    <div class="tile-number" style="color:@GetColor(Tile.Color)">
        <b>@(Tile.IsJoker ? "J" : Tile.Value.ToString())</b>
    </div>
</div>

@code {
    [Parameter] public required Tile Tile { get; set; }

    private string GetColor(TileColor color)
    {
        return color switch
        {
            TileColor.Blue => "blue",
            TileColor.Red => "red",
            TileColor.Mango => "orange",
            TileColor.Black => "black",
            _ => "gray"
        };
    }
}

<style>
    .tile {
        position: relative;
        display: inline-block;
        width: 50px;
        height: 70px;
        background-color: #dcdbdb; /* Fond blanc pour éviter le gris */
        border: 2px solid #CCCCCC;
        border-radius: 10px; /* Coins arrondis */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre portée */
        transition: border-color 0.3s, transform 0.2s, box-shadow 0.2s;
    }

    .tile-number {
        position: absolute;
        top: 5px;
        width: 100%;
        text-align: center;
        font-size: 24px;
        font-weight: bold;
    }

    .tile.joker {
        background-color: #FFD700; /* Fond doré pour le Joker */
    }

    .tile.new-tile {
        border-color: red; /* Contour rouge pour les nouvelles tuiles */
    }

    /* Effet au survol */
    .tile:hover {
        transform: translateY(-2px);
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    }
</style>