@using RummiSolve
<div class="valid-set-container">
    <div class="valid-tiles">
        @foreach (var tile in ValidSet.Tiles)
        {
            <TileComponent Tile="tile" ShouldHighlight="@ShouldHighlightTile(tile)"/>
        }
    </div>
</div>

@code {
    [Parameter] public required ValidSet ValidSet { get; set; }
    [Parameter] public List<Tile>? HighlightTiles { get; set; }

    private bool ShouldHighlightTile(Tile tile)
    {
        if (HighlightTiles == null || HighlightTiles.Count == 0)
            return false;

        return HighlightTiles.Contains(tile);
    }
}

<style>
    .valid-set-container {
        display: inline-block;
        white-space: nowrap;
        padding: 5px;
        border-radius: 5px;
    }

    .valid-tiles {
        display: inline-flex;
    }


</style>