@using RummiSolve


<div class="valid-set-container">
    <div class="valid-tiles">
        @foreach (var tile in ValidSet.Tiles)
        {
            <TileComponent Tile="tile"/>
        }
    </div>
</div>

@code {
    [Parameter] public required ValidSet ValidSet { get; set; }
}

<style>
    .valid-set-container {
        display: inline-block;
        white-space: nowrap;
        padding: 5px;
        border-radius: 5px;
    }

    .valid-tiles {
        display: inline-flex;
    }
    

</style>