@page "/game"
@using BlazorRummiSolve.Components.Shared
@rendermode InteractiveServer

<h3>GamePage : @Id</h3>

<div class="game-container">
    <h1>Rummikub Game</h1>

    @if (IsGameOver)
    {
        <h2>@Winner.Name a gagné la partie !</h2>
    }

    <div class="game-content">
        <!-- Affichage du tour actuel -->
        <div class="turn-section">
            <h2>Tour actuel : @TurnNumber</h2>
        </div>

        <!-- Section de la solution -->
        <div class="solution-section">
            <h2>Solution Actuelle</h2>
            <SolutionComponent Solution="_currentGame.BoardSolution"/>
        </div>

        <button @onclick="PlayTurnAsync" disabled="@(IsLoading || IsGameOver)">Jouer un Tour</button>

        <!-- Section des joueurs -->
        <div class="players-section">
            <PlayersContainerComponent CurrentPlayer="_currentPlayer" OtherPlayers="_otherPlayers"/>
        </div>
    </div>
</div>

<style>
    .game-container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
    }

    .game-content {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .turn-section {
        text-align: center;
        margin-bottom: 20px;
    }

    .solution-section {
        border: 2px solid #ccc;
        padding: 20px;
        border-radius: 10px;
        background-color: #f9f9f9;
    }

    .players-section {
        /* Styles pour la section des joueurs */
    }

    button {
        margin-right: 10px;
        padding: 10px 20px;
        font-size: 1em;
        cursor: pointer;
    }

    h2 {
        text-align: center;
        color: green;
    }
</style>