@page "/Test"
@using RummiSolve
@using BlazorRummiSolve.Components.Shared
<h1>Test Page</h1>

<h3>Solution</h3>

<SolutionComponent Solution="_game?.BoardSolution"/>

<PlayersContainerComponent CurrentPlayer="_game.Players[0]" OtherPlayers="_game.Players" />


@code {
    
    private Game? _game;

    protected override void OnInitialized()
    {
        _game = new Game();
        
        _game.AddPlayer("Antoine");
        _game.AddPlayer("Matthieu");
        _game.AddPlayer("David");


        _game.Start();
        
    }


}