@page "/Test"
@using RummiSolve
@using BlazorRummiSolve.Components.Shared
<h1>Test Page</h1>

<h3>Solution</h3>

<SolutionComponent Solution="_solution" />

@code {
    private Solution? _solution;

    protected override void OnInitialized()
    {
        var game = new Game();
        game.AddPlayer("Antoine");
        game.AddPlayer("Matthieu");
        game.AddPlayer("David");
        game.AddPlayer("Maguy");

        game.Start();

        _solution = game.BoardSolution;
    }

}


