@page "/TilesPage"
@using RummiSolve
@using BlazorRummiSolve.Components.Shared
<h3>TilesPage</h3>

<div class="tile-container">
    @foreach (var tile in _tiles!)
    {
    <TileComponent Tile="tile" />
    }
</div>

@code {
    private List<Tile>? _tiles;
    
    protected override void OnInitialized()
    {
        _tiles =
        [
            new Tile(1, Tile.Color.Red),
            new Tile(2, Tile.Color.Blue),
            new Tile(3, Tile.Color.Mango),
            new Tile(4, Tile.Color.Black),
            new Tile(true)
        ];
    }
}