name: Qodana
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
      - 'releases/*'

jobs:
  qodana:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      checks: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Use PR head ref when in PR
        if: ${{ github.event_name == 'pull_request' }}
        run: |
          git fetch origin ${{ github.event.pull_request.head.ref }} --depth=0
          git checkout ${{ github.event.pull_request.head.sha }}

      - name: Qodana Scan (.NET native)
        uses: JetBrains/qodana-action@v2025.2
        with:
          args: >-
            --linter qodana-dotnet
            --within-docker false
          pr-mode: false
          cache-default-branch-only: true
          additional-cache-key: qodana-2025.2-${{ github.ref }}
        env:
          QODANA_TOKEN: ${{ secrets.QODANA_TOKEN_397738450 }}
          QODANA_ENDPOINT: 'https://qodana.cloud'
